<div th:fragment="greeting" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="right">
        <h5>
            <br><br>

            <div sec:authorize="!isAnonymous()">
                <p sec:authentication="principal.username"></p>
            </div>

            <div class="form-group" th:if="${#authorization.expression('hasRole(''USER'')')}">
                <span>Current balance: </span>
                <span sec:authentication="principal.money"></span><span> PLN</span>
            </div>

            <div class="form-group" th:if="${#authorization.expression('!hasRole(''ADMIN'')')}">
                <a href="/cart">Check my cart <span th:text="${cartProductAmount}"></span></a>
            </div>

            <div sec:authorize="isAnonymous()">
                <br><br>
            </div>
        </h5>
    </div>
</div>