<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Maciej's Grocery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div w3-include-html="nav.html"></div>
    <div align="center">
        <h3>Welcome, <span sec:authentication="principal.username"></span></h3>
        <a th:href="@{/product/addProduct}" class = "btn btn-success">Add Product</a>
        <br><br>
        <table border="2" class="table table-bordered" style="width: 60%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Country</th>
                    <th>Expiration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="products : ${productList}">
                    <td th:text="${products.name}">Name</td>
                    <td th:text="${products.brand}">Brand</td>
                    <td th:text="${products.price}">Price</td>
                    <td th:text="${products.category}">Category</td>
                    <td th:text="${products.countryProd}">Country</td>
                    <td th:text="${products.dateExpiration}">Expiration</td>
                    <td>
                        <a th:href="@{'/product/update/' + ${products.id}}" class="btn btn-primary">Update</a>
                        <a th:href="@{'/product/delete/' + ${products.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="js/script.js"></script>
    <script>includeHTML();</script>
</body>
</html>