<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="fragments/head :: headPart"></div>
</head>

<body>
    <div th:replace="fragments/nav :: navbar"></div>
    <div align="center">

        <div class="right">
            <h5>
                <br><br>

                <div sec:authorize="!isAnonymous()">
                    <p sec:authentication="principal.username"></p>
                </div>

                <div class="form-group" th:if="${#authorization.expression('hasRole(''USER'')')}">
                    <span>Current balance: </span>
                    <span sec:authentication="principal.money"></span><span> PLN</span>
                </div>

                <p><a href="/">Return to homepage</a></p>
            </h5>
        </div>

    <div sec:authorize="isAnonymous()">
        <br><br><br>
    </div>

    <table border="2" class="table table-bordered" style="width: 60%">
        <thead>
            <tr>
                <div th:replace="fragments/thead :: tabhead"></div>
        </thead>
        <tbody>
            <tr th:each="products : ${cartProductSet}">
                <td th:text="${products.name}">Name</td>
                <td th:text="${products.brand}">Brand</td>
                <td th:text="${products.category}">Category</td>
                <td th:text="${products.countryProd}">Country</td>
                <td th:text="${products.dateExpiration}">Expiration date</td>
                <td th:text="${products.amount}">Amount</td>
                <td th:text="${products.price}">Price</td>
                <td>
                    <a th:href="@{'/cart/deleteCartProduct/' + ${products.id}}" class="btn btn-danger">Remove</a>
                    <a th:href="@{'/cart/oneMoreProduct/' + ${products.id}}" class="btn btn-success">+</a>
                    <a th:href="@{'/cart/oneLessProduct/' + ${products.id}}" class="btn btn-warning">-</a>
                </td>
            </tr>
            <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                    <td><span>Σ </span><a th:text="${cartProductPrice}"></a></td>
                    <td><a th:href="@{/cart/buyCartProduct}" class="btn btn-primary">Purchase</a> </td>
            </tr>
        </form>
        </tbody>
    </table>
        <p th:text="${errorMessage}"></p>
<!--        <p th:text="${noMoneyErrorMsg}"></p>-->
        <p th:text="${afterBuyMessage}"></p>
    </div>
</body>
</html>