<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/nav :: navbar"></div>
    <div class="container" align = center>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <hr>
                <h1>User Login Page</h1>
                <form th:action="@{/login}" method="post">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid username or password.</div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have been logged out.</div>
                    </div>

                    <div class="form-group">
                        <label for="username">Username : </label>
                        <input type = "text" class="form control" id="username" name="username"
                               placeholder="Username:" autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <label for="password">Password : </label>
                        <input type="password" class="form control" id="password" name="password"
                               placeholder="Password:" autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-5">
                                <input type="submit" name="Login-submit" id="Login-submit"
                                       class="form-control btn btn-primary" value="Log in">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <span>
                        New users can <a href="/" th:href="@{/register}">register here</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>