<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/nav :: navbar"></div>
    <div class="container">
        <h1>Registration</h1>
        <hr>
        <h2>Sign in</h2>
        <form th:action="@{/register}" th:object="${registrationRequest}" method="POST">
            <input type="text" th:field="*{email}" id="email" placeholder="Your email:" class="form-control mb-4 col-4"
                   required minlength="6" maxlength="30">
            <input type="password" th:field="*{password}" placeholder="Your password:" class="form-control mb-4 col-4"
                   required minlength="6" maxlength="30">
            <input type="text" th:field="*{firstName}" id="firstName" placeholder="Your name:"
                   required minlength="1" maxlength="30" class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2">Sign in</button>
        </form>
    </div>
    <script src="js/scriptMail.js"></script>
</body>
</html>